.register-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    gap: 20px;
}

.register-form{
    border: solid 1px;
    border-radius: 5px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.register-text {
    font-size: 9px;
}